p {
    text-align: justify;
    padding-bottom: 0.6rem;
}

ul {
    margin-left: 1.2rem;
    margin-bottom: 1rem;
    gap: 0.6rem;
    list-style-type: circle;
    list-style-position: outside;
}

hr {
    margin: 0 1rem 1rem 0;
    height: 0.05rem;
    border-width: 0px;
    background-color: rgb(51 65 85 / 0.6);
}